DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
# Uncomment and set to true for Heroku
DB_SSL=true if heroku
DB_PORT=5432

# Imdb API:
MOVIES_API_KEY=

# Serpapi API:
PRODUCTS_API_KEY=

# Spoonacular API:
FOODS_API_KEY=
