<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body class="login-pg">
  <div class="login-form">
    <form class="login" method="POST" action="/login">
      <label for="email">Email:</label>
      <br>
      <input type="text" name="email" placeholder="Enter your email">
      <br>
      <br>
      <label for="password">Password:</label>
      <br>
      <input type="password" name="password" placeholder="Enter your password">
      <br><br>
      <input type="submit" id="login-btn" name="submit" value="Login">
    </form>
    
  </div>
  <div class="registration-link"><p>Not registered yet? <a href="#register">Register Now!</a></p></div>
</body>
</html>