header {
  height: 250px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h2 {
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  padding: 15px;
}

header input {
  margin: 0px 10px;
  color: #f4f4f4;
}

header .fas-clicked {
  color: #000000;
  cursor: pointer;
  font-size: 100px;
}

header .font-awesome-icons {
  text-align: center;
  color: #f4f4f4;
}

header .font-awesome-icons .fas {
  transition: 0.2s;
  padding: 8px 10px 8px 10px;
  font-size: 20px;
}

header .font-awesome-icons .fas:hover {
  color: #030303;
  cursor: pointer;
  font-size: 30px;
}

.input-form {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
}

#new-item p {
  padding-left: 10px;
}

#add-btn {
  background: none;
  border: none;
}

#add-btn:hover {
  background-color: black;
  color: white;
  border-radius: 7px;
}

.list-input-field {
  width: 300px;
  border-radius: 5px;
  background: none;
  border: 1px solid black;
}
