// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

@media only screen
  and (min-device-width: 100px)
  and (max-device-width: 1024px) {


    .list-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 80%;
    }
    .movie-container {
      width: 90%;
      height: 250px;
      margin-bottom: 50px;
    }
    .book-container {
      width: 90%;
      height: 250px;
      margin-bottom: 50px;
    }
    .food-container {
      width: 90%;
      height: 250px;
      margin-bottom: 50px;
    }
    .shop-container {
      width: 90%;
      height: 250px;
      margin-bottom: 50px;
    }
    .modal-content {
      width:80%;
      height: 80%;
    }
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.modal-content {
    background-color: rgba(0,0,0,0.4);
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 35%;
    height: 50%;
    border-radius: 10px;
    color: rgba(186, 143, 3, 0.926);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    backdrop-filter: blur(5px);
}

.api-info {
  border: 1px solid rgba(186, 143, 3, 0.926);
  border-radius: 10px;
  padding: 25px;
}

h3 {
  text-align: center;
}
