$black-transparent: rgba(0, 0, 0, 0.2);
$shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$categoryColor: rgba(255, 255, 255, 0.6);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  

  background: rgb(163, 208, 219);
  background: linear-gradient(
    150deg,
    rgb(151, 179, 240) 0%,
    rgb(215, 195, 131) 20%,
    rgb(238, 196, 127) 34%,
    rgb(240, 154, 154) 59%,
    rgb(219, 163, 163) 74%,
    rgb(163, 219, 215) 100%
  );
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
  padding: 10px;
}

.navbar-login {
  color: rgb(109, 109, 109);
  font-weight: bold;
  background: white;
  padding: 5px;
  border: 2px solid coral;
  border-radius: 3px;
}

.navbar-register {
  color: rgb(109, 109, 109);
  font-weight: bold;
  background: white;
  padding: 5px;
  border: 2px solid coral;
  border-radius: 3px;
}

#title {
  font-family: 'Wire One', sans-serif;
  font-size: 80px;
  align-self: center;
  justify-self: center;

}

.input-form {
  background-color: $black-transparent;
  width: 40%;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  height: 35px;
  box-shadow: $shadow;
}

#add-btn {
  background:none;
  border: none;
}

#add-btn:hover {
  background-color: black;
  color: white;
  border-radius: 7px;
}

.text-field {
  width: 400px;
  border-radius: 5px;
  background: none;
  border: 1px solid black;
}

.list-container {
  width: 80%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  .book-container:hover {
    border: 1px solid black;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .movie-container:hover {
    border: 1px solid black;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .food-container:hover {
    border: 1px solid black;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .shop-container:hover {
    border: 1px solid black;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.movie-container {
  background-color:$categoryColor;
  width: 20%;
  height: 65%;
  border-radius:10px;
  box-shadow: $shadow;
  padding-right: 10px;
}

.book-container {
  background-color:$categoryColor;
  width: 20%;
  height: 65%;
  border-radius: 10px;
  box-shadow: $shadow;
  padding-right: 10px;
}

.food-container {
  background-color:$categoryColor;
  width: 20%;
  height: 65%;
  border-radius: 10px;
  box-shadow: $shadow;
  padding-right: 10px;
}

.shop-container {
  background-color:$categoryColor;
  width: 20%;
  height: 65%;
  border-radius: 10px;
  box-shadow: $shadow;
  padding-right: 10px;
}

.list-item {
  color: rgb(82, 81, 81);
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
  i {
    display:none;
  }
}

.list-item:hover {
  color: #000000;
  text-shadow: 0 0 0 #969696, 1px 5px 5px #aba8a8;
  cursor: pointer;
  i {
    color:rgb(170, 0, 0);
    display:block;
    font-size: 12px;
  }
}


.footer {
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  height:50px;
  margin-bottom: -10px;
  display: flex;
  justify-content:space-around;
  color: rgba(255, 255, 255, 0.6);
}

#copyright {
  align-self: flex-end;
}

.login-form {
  margin:auto;
  width: 400px;
  height:500px;
  background-color: rgb(232, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-btn {
  color: white;
  width: 80px;
  align-self: center;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 25px;
}

.input-txt {
  border-radius: 10px;

}

.login-title {
  font-size: 75px;
  margin-bottom:70px;
  font-family: 'Wire One', sans-serif;
}

.register-form {
  margin:auto;
  width: 400px;
  height:600px;
  background-color: rgb(232, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-title {
  font-family: 'Wire One', sans-serif;
  font-size: 75px;
}

#register-btn {
  color: white;
  width: 80px;
  align-self: center;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 25px;
}
